@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";

$example_width: 500px;

// color scheme
$dark-neutral: #B27B96;
$light-accent: #FFE72D;
$sharp-accent: #FF67B2;
$light-calm: #3EBACC;
$dark-calm: #3FA4B2;
$light-grey: #EFEFEF;

header {
    width: 100%;
    border-bottom: thin solid $light-accent;
    background-image: url(background.png);
    float: left;
    clear: both;
    margin-bottom: 1em;

    a {
        color: $dark-calm;
    }

    h1 {
        float: left;
        font-size: 200%;
        padding: 0;
        margin: 0;

        span {
            display: block;
            border-top: thin solid $dark-neutral;
        }
    }

    nav a {
        display: block;
        text-align: right;
    }
}

footer {
    margin: 1em 0;
    border-top: thin solid $light-accent;

    a {
        float: right;
    }
    a:first-child {
        float: left;
    }
}

article {
    @include outer-container;
    padding-top: 2em;

    .md {
        h1:first-of-type {
            display: none;
        }
        ul {
            @extend %default-ul;
        }

        ol {
            @extend %default-ol;
        }

        h1, h2, h3, h4, h5, h6 {
            margin-top: 1.5em;
        }

        h2 {
            border-bottom: thin solid $sharp-accent;
        }
    }
}

code {
    background-color: $light-grey;
    padding: 0 0.3em;
}

pre {
    border-left: thick solid $dark-neutral;
    width: $example_width;
    background-color: $light-grey;
}

.editor {
    width: $example_width;

    .reset {
        float: right;
        padding: 0.2em 0.5em;
        margin-bottom: 0.3em;
        background-color: $dark-calm;
    }
}

.example {
    width: $example_width;
    padding: 1em;
    box-sizing: content-box;

    border-left: thick solid $dark-neutral;

    output {
        width: 100%;
        padding: 0.3em;
        box-sizing: border-box;

        display: block;
        border: thin solid $light-calm;
        background-color: white;
    }

    .errors {
        label {
            color: black;
        }

        color: $sharp-accent;
    }
}

.extras {
    clear: both;
    margin-bottom: 1em;
}

fieldset.friend {
    display: inline;
    padding: 0.2em;
    margin: 0.2em;

    input, label {
        float: left;
    }
}
